h1 Hello #{user.email}!

unless user.email !== 'Guest'
  form(action='/login', method='GET')
    input(type='submit', value='Login')
else
  form(action='/logout?_method=delete', method='POST')
    //- above ^ uses method overide to make method a DELETE
    input(type='submit', value='logout')
